* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFD9C7;
    height: 100%;
}
#map {
    width: 100%;
    height: 60%;
    background-color: grey;
    position: fixed;
    bottom: 0px;
    margin-top: 0px;
  }

/* font-family: 'Monoton', cursive;
font-family: 'Sintony', sans-serif;
font-family: 'Cutive', serif;
font-family: 'Fascinate Inline', cursive;
font-family: 'Playfair Display', serif;  */

.full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}

.nav {
    display: flex;
    align-items: center;
    width:100vw;
    justify-content: center;
    background-color: #FB9765;
}
.top-right {
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
        background-color: #FF3DE8; /* Green */
        border: none;
        color: white;
        padding: 13px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Cutive', serif;
        margin: 10px;
}
input {
    background-color: #FFFFFF; /* Green */
    border: none;
    color: black;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    height: 50px;
    font-family: 'Cutive', serif;
    width: 240px;
    
    
}



.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    font-family: 'Cutive', serif;
  
}
.header-text {
    font-family: 'Sintony', sans-serif;
    margin: 10px;
}
.info {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100vw;
}
.surround {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 40px;
}
.reasoning {
  width: 1100px;
  margin: 10px;
  padding-right: 250px;
  font-family: 'Cutive', serif;
  font-size: 20px;  
}
.words {
    font-size: 1.5rem;
    font-family: 'Cutive', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 0.4s ease-in-out
}

h1 {

    font-family: 'Fascinate Inline', cursive;
    font-size: 69px;
    margin: 10px;
    color: #F502F5;
    font-size: 72px;
    background: -webkit-linear-gradient(#00DAFE, #FF3DE8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    width: 45%;
    font-family: 'Fascinate Inline', cursive;
    font-size: 69px;
    margin: 10px;
    color: #F502F5;
    font-size: 72px;
    background: -webkit-linear-gradient(#00DAFE, #FF3DE8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h6 {
    font-size: 20px;
}

#myBtn {
    position: fixed;
    bottom: 50%;
    
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.top {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    align-self: flex-start;
    margin-right: -10%;
    padding-left: 10%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

footer {
    text-align: center;
    
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-family: 'Cutive', serif;
    font-size: 15px;    
    background-color: white;
}

@media (max-width : 1100px) {

#map {
    width: 100%;
}
.info {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

@media (max-width: 890px){

    button {
        display: none;
    }

}