* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #FB9765;
}
#map {
    width: 100%;
    height: 70%;
    background-color: grey;
  }

/* font-family: 'Monoton', cursive;
font-family: 'Sintony', sans-serif;
font-family: 'Cutive', serif;
font-family: 'Fascinate Inline', cursive;
font-family: 'Playfair Display', serif;  */

.full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
        background-color: #FF3DE8; /* Green */
        border: none;
        color: white;
        padding: 13px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Cutive', serif;
        margin: 5px;
}
input {
    background-color: #00DAFE; /* Green */
    border: none;
    color: white;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    height: 50px;
    font-family: 'Cutive', serif;
    width: 240px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}

input:focus{
    width: 40%;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    font-family: 'Cutive', serif;
   width: 1100px;
}
.header-text {
    font-family: 'Sintony', sans-serif;
    margin: 10px;
}
.info {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100vw;
}
.surround {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.reasoning {
  width: 1100px;
  margin: auto;
}
.words {
    font-size: 2rem;
    font-family: 'Cutive', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 0.4s ease-in-out
}

h1 {
    width: 25%;
    font-family: 'Fascinate Inline', cursive;
    font-size: 69px;
    margin: 10px;
    color: #F502F5;
    font-size: 72px;
    background: -webkit-linear-gradient(#00DAFE, #FF3DE8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    width: 45%;
    font-family: 'Fascinate Inline', cursive;
    font-size: 69px;
    margin: 10px;
    color: #F502F5;
    font-size: 72px;
    background: -webkit-linear-gradient(#00DAFE, #FF3DE8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width : 1100px) {

#map {
    width: 100%;
}
.info {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

@media (max-width: 890px){

    button {
        display: none;
    }

}