
            
<!-- <div class='surround' ng-init="getInfo()"> -->
    <!-- <div class='reasoning'>
        These countries currently have some of the highest exchange rates:
    </div> -->
    <!-- <div class='buttons'>
        
        <button type='button' ng-click="getData(indonesia)">Indonesia</button>
        <button type='button' ng-click="getData(southAfrica)">South Africa</button>
        <button type='button' ng-click="getData(southkorea)">South Korea</button>
        <button type='button' ng-click="getData(thailand)">Thailand</button>
        <button type='button' ng-click="getData(japan)">Japan</button>
        <form ng-submit='getData(searchTerm)'>
                <input type='text' placeholder="search for a country" ng-model='searchTerm'>	
        </form>
        <button ng-click='showTable()'><i class="fa fa-list-ul fa-2x" aria-hidden="true"></i></button>
        

    </div>             -->
    
        
    <!-- </div> -->

<div id='map'></div>

<div class='modal' ng-hide="hideHelpBox" ng-init="getInfo()">
    <div class='modal-content'>
        <div class='top'>
        <h2>Exchange Rates</h2>
        <span class="close"ng-click='hideHelp()'>&times;</span>
        </div>
        <h6>Our goal is to help you find the cheapest travel destinations.<br>
        <br>
        Classical Economic theory says that exchange rates should make your money hold the same value no matter what currency you use.<br>
        <br>Visit our <button type='button' ui-sref='exchange'>Exchange Rate</button> page for exchange rates.<br>
        <br>However, exchange rates aren't always accurate. In order to determine real purchasing power, we have converted the price of Big Macs around the world into their US dollar value so that you can see where to travel in order to save the most $$.<br>
        <br>Visit our <button type='button' ui-sref='ppp'>Big Mac Price</button> page to see how purchasing power works.
        </h6>
        <h2>Enjoy</h2>
        
        
    </div>
</div>

<div class='modalTable' ng-hide="hideTableBox">
        <div class='modalTable-content'>
                <!-- <span class="closetable"ng-click='hideTable()'>&times;</span> -->
            <div class="wrapper2"><table id="table" class="display" cellspacing="5" width="100%"></table></div>                
            
        </div>
    </div>