<div class='surround'>
    <div class='reasoning'>
        In order to make your dollars the most worthwhile, you should travel to the country with the highest exchange rate. The following countries currently have some of the highest exchange rates: 
    </div>
    <div class='buttons'>
        <button type='button' ng-click="getData(indonesia)">Indonesia</button>
        <button type='button' ng-click="getData(southAfrica)">South Africa</button>
        <button type='button' ng-click="getData(southkorea)">South Korea</button>
        <button type='button' ng-click="getData(thailand)">Thailand</button>
        <button type='button' ng-click="getData(japan)">Japan</button>
    </div>	
        <form ng-submit='getData(searchTerm)'>
                <input type='text' placeholder="search for a country" ng-model='searchTerm'>	
        </form>

        <div class='info'>
            
            <!-- <div class='words' ng-hide='hide'>
            {{data.country}}<br>
            Currency: {{data.currency}}<br>
            $1000USD = {{total}}
            </div> -->
        </div>    
            <div id='map'></div>

        
</div>