<div class='full-container' ng-init="getInfo()">
        <div class='info-box'>  
             

            		
<button id="myBtn" ng-click='showTut()'>Learn How it Works</button>

<div class='modal' ng-hide="hide">
    <div class='modal-content'>
        <div class='top'>
        <h2>Welcome</h2>
        <span class="close"ng-click='closeTut()'>&times;</span>
        </div>
        <h6>Our goal is to help you find the cheapest travel destinations.<br>
            <br>
            Classical Economic theory says that exchange rates should make your money hold the same value no matter what currency you use.<br>
            <br>Visit our <button type='button' ui-sref='exchange'>Exchange Rate Map</button> to explore current exchange rates around the world.<br>
            <br>However, exchange rates aren't always accurate for depicting real purchasing power. For this, we need to calculate the difference in the same "basket" of goods from country to country. To illustrate this, we will use Big Mac Prices.<br>
            <br>Visit our <button type='button' ui-sref='ppp'>Big Mac Map</button> page to explore purchasing power around the world..
            <br>Hopefully, this will help you determine where to travel in order to save the most money.</h6>
            <h2>Enjoy</h2>
        
        
    </div>
</div>

<div class="wrapper"><table id="table" class="display" cellspacing="5" width="100%"></table></div>
