<!-- <div id = 'cursor'>
<div class='surround'> -->
    
        <!-- <div class='reasoning'>
           These countries currently have the cheapest Big Mac's:
        </div>
        <div class='buttons'>
            <button type='button' ng-click="getData(ukraine)">Ukraine</button>
            <button type='button' ng-click="getData(egypt)">Egypt</button>
            <button type='button' ng-click="getData(malaysia)">Malaysia</button>
            <button type='button' ng-click="getData(southAfrica)">South Africa</button>
            <button type='button' ng-click="getData(russia)">Russia</button>
            <form ng-submit='getData(searchTerm)'>
                    <input type='text' placeholder="search for a country" ng-model='searchTerm'>	
            </form>
            <button ng-click='showHelp()'><i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i></button>
            
        </div>	 -->

                
    
            
    <!-- </div> -->
    
<div id='map'></div>

<div class='modalBigMac' ng-hide="hideHelpBox" ng-init="getInfo()">
        <div class='modalBigMac-content'>
            
                <div class="wrapper"><table id="table" class="display" cellspacing="5" width="100%"></table></div>                
            
        </div>
    </div>
<!-- </div> -->